.App {
  text-align: center;
}

#subtitle {
  font-size: 20px;
  font-style: italic;
}

.App-header {
  background-image: url('feedbackHeaderImg.png');
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  background-color: #033076;
  min-height: 160px;
  padding: 5px;
  color: white;
  margin-bottom: 25px;
  
}

.App-title {
  font-size: 3.2em;
  
}

.App-intro {
  font-size: large;
}

h4 {
  font-family: 'Spartan', sans-serif;
}

button {
  background-color: rgb(39, 77, 158);
  color: white;
}

.numberInput {
  width: 100px;
}

.textInput {
  width: 250px;
}

h1 {
  font-size: 30px;
  font-family: 'Spartan', sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}

h3 {
  font-size: 15px;
  text-decoration-line: underline;
  font-family: 'Spartan', sans-serif;
  color: rgba(0, 0, 0, 0.596);
}
